form {
	width: 330px;
	margin: auto;
}
.forgot {
margin:auto;
padding:20px;
font-size:13px;
text-align:center;
}
.ipt {
width:300px;
height:40px;
border:none;
line-height:40px;
font-size:14px;
padding:5px 10px;
background:#fff;
border-bottom:1px solid #2e7d32;
margin-bottom:1px;
}